<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto" />
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						  <span id="EmailValidate" class="glyphicon glyphicon-remove" ></span>
						
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country %> (<%= stranka.StRacunov%>)
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
						
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected >
								<%= racun.Naziv %>
								
							</option>
							
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	
	function Get(urll){
    var Httpreq = new XMLHttpRequest(); // a new request
    Httpreq.open("GET",urll,false);
    Httpreq.send(null);
    return Httpreq.responseText;          
	}
	var jsonObj = JSON.parse(Get("https://api.lavbic.net/kraji"));
	//console.log(jsonObj);
	var imena = new Array();
	for(var i = 0; i < jsonObj.length; i++){
		imena[i] = jsonObj[i].kraj;
	}
	var postSt = new Array();
	for(var i = 0; i < jsonObj.length; i++){
		postSt[i] = jsonObj[i].postnaStevilka;
	}
	//console.log("postna st 0, 12, 20 "+postSt[0]+ " "+ postSt[12]+" " +postSt[20]);
	function vrniIndeks(){
	var ime = document.getElementById("City").value;
	//console.log("ime mesta je "+ime);
	for(var i=0; i < jsonObj.length; i++){
		if(imena[i] == ime){
			return i;
		}
	}
	return 0;
}
	$(document).ready(function () {
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		

		document.getElementById("City").addEventListener("keyup", function () {
			if (this.value.length == 0) {
				document.getElementById("PostalCode").value = "";
				document.getElementById("Country").value = "";
				document.getElementById("Register").disabled = true;
			}
			else{
				$("#City").autocomplete({max:"10",
					source: function (request, response) {
        				 //data :: JSON list defined
        				
        				 //response(results.slice(0, 10));
        				 var val = document.getElementById("City").value;
        				
        				//console.log("jsonObj kraj je"+jsonObj[0].kraj);	//vrne ljubljana
        				//console.log("City input value "+ val);		//vrne tvoj input
        				var matcher = new RegExp("^"+$.ui.autocomplete.escapeRegex(request.term), "i");
        				response($.grep(imena, function(item){
        					
        					return matcher.test(item);
        					
        				}));
					},
					select: function(event, ui){
						$("#City").val(ui.item.label);
        				
						var indeks = vrniIndeks();
						document.getElementById("PostalCode").value = postSt[indeks];
						document.getElementById("Country").value = "Slovenija";
						
						
					}
			

		});
			
				
			}
			
		});
	});
	$(document).ready(function () {
	setInterval(function(){
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		var em = document.getElementById("Email").value;
		var po = document.getElementById("PostalCode").value;
			if(em.match(emailRegex) && po != ""){
				document.getElementById("Register").disabled = false;	
			}
	}, 200);
	});

</script>



<script>
$(document).ready(function () {
	var regIzraz = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		document.getElementById("Email").addEventListener("keyup", function(){
			
			if(this.value.match(regIzraz)){
				document.getElementById('EmailValidate').className = 'glyphicon glyphicon-ok';
				//document.getElementById("Register").disabled = false;
				//console.log("email se ujema z regularnim zapisom");
									
			}
			else{
				document.getElementById('EmailValidate').className = 'glyphicon glyphicon-remove';
				document.getElementById("Register").disabled = true;
			}
			
						 	
		});
});
</script>


<script>
	$( document ).ready(function() {
	//class=if(racun.CustomerId == document.getElementById("#seznamStrank").value) "racun-stranke"%>
		var x = document.getElementById("seznamStrank").value;
		var i = 0;
		var len = document.getElementById("seznamRacunov").options.length;
		
		document.getElementById("seznamStrank").addEventListener("click", function(){
			//console.log("jup jup");
			//k = document.getElementById("seznamRacunov").options[10];
			//console.log(k);
			//console.log(document.getElementById("seznamRacunov").options[30].getAttribute("customerId"));
			//console.log($("#seznamRacunov").find(':selected').attr('customerId'));
			for(var m = 0; m < len; m++){
				if(document.getElementById("seznamRacunov").options[m].getAttribute("customerId") == document.getElementById("seznamStrank").value){
					document.getElementById("seznamRacunov").options[m].classList.add("racun-stranke");
					//console.log("mhm");
					
				}
				else{
					document.getElementById("seznamRacunov").options[m].classList.remove("racun-stranke");
					//console.log("mhmm");
					
				}
			}
		});
	});
	
</script>

</body>
</html>